body{
    background: rgba(200, 155, 255, 0.82);
    margin: 0px;
}
.colorillo{
    background: rgb(253, 187, 255);
}
#menu{
    display: flex;
    justify-content: space-between;
}
.menu2 {
    display: inline-block;
    padding: 5px;
}
#top3{
    text-align: center;
}
#orden{
    display: flex;
    justify-content: space-around;
}
.cosilla{

    display: grid;
    grid-template-areas:
            "titulo titulo2"
            "cosilla1 cosilla2";
}
#container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto ;
    grid-template-areas:
            "llicencia biblio redes ";
}
#Bibliografia {
    grid-area: biblio;
}
#Llicencia{
    grid-area: llicencia;
}
#Redes{
    grid-area: redes;
}
.foto{
    width: 300px;
    height: 250px;

}
@media (max-width: 1500px){
    #orden{
        flex-wrap: wrap;
    }
}